# 1. Print 10 Natural no.

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# 2. Print sum of 1 to 10

In [4]:
x = 0
for i in range(11):
    x+=i
print("The Sum of 1 to 10",x)

The Sum of 1 to 10 55

# 3. Print table of 2.

In [7]:
for i in range(1,11):
    n = i*2
    print(n)

2
4
6
8
10
12
14
16
18
20

# 4. Print 1 to -10.

In [10]:
for i in range(1,-11,-1):
    print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

# 5. Print -1 to -10.

In [12]:
for i in range(-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10